<div id="footer">
  <div class="wrapper">
    <% @sponsors.each_with_index do |sponsor, index| %>
      <%= link_to sponsor.url, :target => '_blank', :class => 'sponsor' do %>
        <%= image_tag sponsor.logo_url, :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => index %>  
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
