<div id="footer">
  <div class="wrapper">
    <a href="http://grupoexpansion.mx/" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/expansion.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 3 %>
    </a>
    <a href="http://itesm.mx" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/tec.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 4 %>
    </a>
    <a href="http://www.telcel.com/" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/telcel.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 5 %>
    </a>  
    <div class="clear"></div>
  </div>
</div>
