<div id="header">
  <div class="wrapper">
    <div id="logo_wrapper">
      <%= link_to image_tag('ui/logo.png'), 'http://amanc.org/', :target => '_blank' %>
    </div>
    <div id="navbar">
      <%= link_to root_url do %>
        <span>Inicio</span>  
      <% end %>    
      <a href="#"><span>Reg&iacute;strate</span></a>
      <a href="#"><span>&iquest;C&oacute;mo Funciona?</span></a>
      <a href="#"><span>Contacto</span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
