<div id="main" class="green_background">
  <div class="relative wrapper">
    <div id="guidelines_wrapper">
      <h1 id="title" class="invisible white" data-transition="fade_in" data-step="0">Aprende con Causa</h1>
      <ol class="invisible medium dark_green" data-transition="fade_in" data-step="1">
        <li>Reg&iacute;strate</li>
        <li>Contesta tantas preguntas como puedas</li>
        <li>Acumula puntos y ayuda a un niño con c&aacute;ncer</li>
      </ol>
      <div class="invisible actions align_right" data-transition="fade_in" data-step="2">
        <%= link_to 'Comenzar', play_url, :class => 'green_btn btn', :id => 'start' %>
      </div>      
    </div>    
    <div id="green_logo" class ="invisible" data-transition="fade_in" data-step="1"></div>
  </div>  
</div>

