<script type="text/javascript">
  (function(){
    $(function(){
      $.fmx_animate();      
    });
  })(jQuery);
</script>
<div id="header">
  <div class="wrapper">
    <div id="logo_wrapper">
      <%= link_to image_tag('ui/logo.png'), 'http://amanc.org/', :target => '_blank' %>
    </div>
    <div id="navbar">
      <a href="#"><span>Inicio</span></a>
      <a href="#"><span>Reg&iacute;strate</span></a>
      <a href="#"><span>&iquest;C&oacute;mo Funciona?</span></a>
      <a href="#"><span>Contacto</span></a>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="main" class="green_background">
  <div class="relative wrapper">
    <div id="guidelines_wrapper">
      <h1 id="title" class="invisible white" data-transition="fade_in" data-step="0">Aprende con Causa</h1>
      <ol class="invisible medium dark_green" data-transition="fade_in" data-step="1">
        <li>Reg&iacute;strate</li>
        <li>Contesta tantas preguntas como puedas</li>
        <li>Acumula puntos y ayuda a un niño con c&aacute;ncer</li>
      </ol>
      <div class="invisible actions align_right" data-transition="fade_in" data-step="2">
        <a href="#" id="start" class="green_btn btn">Comenzar</a>
      </div>      
    </div>    
    <div id="green_logo" class ="invisible" data-transition="fade_in" data-step="1"></div>
  </div>  
</div>
<div id="footer">
  <div class="wrapper">
    <a href="http://grupoexpansion.mx/" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/expansion.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 3 %>
    </a>
    <a href="http://itesm.mx" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/tec.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 4 %>
    </a>
    <a href="http://www.telcel.com/" target="_blank" class="sponsor">
      <%= image_tag 'sponsors/telcel.png', :class => 'invisible', 'data-transition' => 'fade_in', 'data-step' => 5 %>
    </a>  
    <div class="clear"></div>
  </div>
</div>
