<div id="main_head">
  <div class="wrapper">
    <div id="banner_wrapper"></div>
    <div id="score">
      <span class="big">Manuel Mart&iacute;nez</span>
      <span class="big">50</span>
      <span>puntos</span>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="question_wrapper" class="invisible green_background" data-transition="fade_in" data-step="0">
  <div class="wrapper">
    <div id="question" class="relative">
      <div class="invisible" data-transition="fade_in" data-step="2">
        <h2 class="white">&iquest;Qui&eacute;n fue el primer presidente de M&eacute;xico?</h2>
        <a href="#" class="answer">Miguel Hidalgo</a>
        <a href="#" class="answer">Guadalupe Victoria</a>
        <a href="#" class="answer">Agust&iacute;n de Iturbide</a>
      </div>    
      <div id="green_logo" class ="invisible" data-transition="fade_in" data-step="1"></div>
    </div>    
    <div id="sidebar" class="invisible dark_green_background" data-transition="fade_in" data-step="1">
      <h3 class="white">Instrucciones</h3>
      <ol id="guidelines">
        <li>Selecciona la respuesta correcta de entre las opciones</li>
        <li>Por cada respuesta correcta obtienes 10 puntos</li>
        <li>Cada 50 puntos uno de nuestros patrocinadores donar&aacute; X cantidad a AMANC</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div> 
</div>
<div id="game_details" class="darker_green_background">
  <div class="wrapper">
    <div class="left">
      <span class="white">Historia de México | Cambiar tema</span>
    </div>
    <div class="right">
      <span class="white">Nivel 1 de 10</span>
    </div>
    <div class="clear"></div>
  </div>  
</div>

